body {}

.main {
   width: 100%;
   height: 100%;
}

/*scoreboard, opponent ships, and game status updates*/
.dashboardBox {
   background-color: #55ee55;
}

/*game board where user selects targets*/
.gridBox {
   border: solid black 1px;
}

.gridContent {
   height: 50%;
   width: 50%;
   border: solid red 1px;
}

/*display used to select ships to place and status during game*/
.shipsBox {
   background-color: #00bbff;
}

/**/
.dialogBox {
   display: block;
   justify-content: center;
   align-content: center;
   border: solid black 1px;
   border-radius: 15%;
}

.dialogContent{
   background-color: red;
   height:100px;
   width:50%;
}

/*basic unit of grid*/
.cell {
   position: relative;
   float: left;
   border: solid 1px black;
   height: 30px;
}

/*style cell to designate free*/
.blue {
   background-color: #37fcfc;
}

/*style cell to designate a miss*/
.miss {
   background-color: #ffffff;
}

/*style cell to designate a hit*/
.hit {
   background-color: #ff0000;
}